<!DOCTYPE html>
<html>
  <head>
    <title>MyFunds</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/simplex.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="lib/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Require -->
    <script data-main="scripts/main" src="lib/require/require.js"></script>
  </head>
  <body>
  	<%- body %>
  </body>
</html>